<div class="jumbotron">
	<h1>Welcome to this website!</h1>
	<p>Rails Simple Authentification app</p></br>
	<div>Tip: Please log in to our application if you want to see all functionalities</div>
</div>

